.modal {
    position: fixed;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    margin:auto;
    background-color: #9e9e9e;
    border-radius: 15px;
    padding: 20px;
    // backdrop-filter: blur(0.8);
    
    // visibility: hidden;
  
}