.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    background-color: #009688;
    color: white;

    &__left {
        display: flex;
        align-items: center;
        .title {
            font-size: x-large;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        padding-right: 10px;
        .divider {
            height: 50%;
            border: 1px solid white;
            margin: 0px 10px;
        }
    }
}
